@(app: controllers.Application, key: String)

@shell(app){
 <div class="row">
   <div class="col-lg-12">
     <h1 class="page-header">Job Console</h1>
     <p><code>@key</code>
   </div>
 </div>
 <div class="row">
      <div class="col-lg-8">
	  <div class="panel">
	    <div class="panel-body" >
 	      <button class="btn btn-default"
			 onclick="toggle()" id="button">Stop</button>
 	      <button class="btn btn-default"
			 onclick="onClear()">Clear</button>
	      <p><div id="console-area"
	      	      style="width:100%;height:400px;font-family:monospace;max-height: 300px; overflow-y: auto;"></div>
	    </div>
	  </div>
      </div>
 </div>
 }
 
 <script language="javascript" type="text/javascript">
  var wsUri = "ws://@{request.host}@{routes.Api.console(key)}";
  var output;
  var websocket;

  function init()
  {
    output = document.getElementById("console-area");
    loadWebSocket();
  }

  function loadWebSocket()
  {
    websocket = new WebSocket(wsUri);
    websocket.onopen = function(evt) { onOpen(evt) };
    websocket.onclose = function(evt) { onClose(evt) };
    websocket.onmessage = function(evt) { onMessage(evt) };
    websocket.onerror = function(evt) { onError(evt) };
  }

  function onClear () {
     //console.log('clear area...');
     output.innerHTML = '';
  }
  
  function onOpen(evt)
  {
    writeToScreen("CONNECTED", "blue");
    //doSend("WebSocket rocks");
  }

  function toggle () {
     var b = document.getElementById("button");
     if (b.innerHTML == 'Stop') {
        b.innerHTML = 'Start';
	websocket.close();
     } else {
        b.innerHTML = 'Stop';
        loadWebSocket ();
     }
  }
  
  function onClose(evt)
  {
    writeToScreen("DISCONNECTED", "red");
  }

  function onMessage(evt)
  {
    if (evt.data)
       writeToScreen(evt.data);
  }

  function onError(evt)
  {
    writeToScreen(evt.data);
  }

  function doSend(message)
  {
    writeToScreen("SENT: " + message);
    websocket.send(message);
  }

  function writeToScreen(message, color)
  {
    var pre = document.createElement("p");
    pre.style.wordWrap = "break-word";
    pre.style.marginBottom = "2px";
    pre.style.fontFamily = "monospace";
    pre.style.fontSize = "10px";
    pre.style.color = message.indexOf('ERROR') >= 0 ? "red" : color;
    pre.innerHTML = message;
    //output.appendChild(pre);
    output.insertBefore(pre, output.childNodes[0]);
  }

  window.addEventListener("load", init, false);
</script>
