
@(app: controllers.Application)

@shell(app){
	 <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Curation Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-6">
                      <h1>Entities</h1>
                    </div>
                    <div class="col-xs-6 text-right">
                      <h1 id="entity-count"></h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-green">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-6">
		      <h1>Singletons</h1>
                    </div>
                    <div class="col-xs-6 text-right">
                      <h1 id="singleton-count"></h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
	  <!-- /.row -->
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-6">
                      <h1>Components</h1>
                    </div>
                    <div class="col-xs-6 text-right">
                      <h1 id="component-count"></h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-6">
		      <h1>Stitches</h1>
                    </div>
                    <div class="col-xs-6 text-right">
                      <h1 id="stitch-count"></h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->

	  <div class="row">
            <div class="col-lg-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-bar-chart-o fa-fw"></i> Stitched Data Sources
                </div> <!-- /.panel-heading -->
                <div class="panel-body">
		  <div id="stitched-sources-plot"></div>
                </div>  <!-- /.panel-body -->
              </div> <!-- panel -->
	    </div> <!-- col -->
	  </div> <!-- row -->

	  <div class="row">
            <div class="col-lg-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-bar-chart-o fa-fw"></i> Entity Degree Distribution
                </div> <!-- /.panel-heading -->
                <div class="panel-body">
		  <div id="entity-dist-plot"></div>
                </div>  <!-- /.panel-body -->
              </div> <!-- panel -->
	    </div> <!-- col -->
	  </div> <!-- row -->

	  <div class="row">
            <div class="col-lg-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-bar-chart-o fa-fw"></i> Stitch Distribution
                </div> <!-- /.panel-heading -->
                <div class="panel-body">
		  <div id="stitch-dist-plot"></div>
                </div>  <!-- /.panel-body -->
              </div> <!-- panel -->
	    </div> <!-- col -->
	  </div> <!-- row -->

	  <div class="row">
            <div class="col-lg-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-bar-chart-o fa-fw"></i> Component Size Distribution
                </div> <!-- /.panel-heading -->
                <div class="panel-body">
		  <div id="component-dist-plot"></div>
                </div>  <!-- /.panel-body -->
              </div> <!-- panel -->
	    </div> <!-- col -->
	  </div> <!-- row -->

	  <div class="row">
            <div class="col-lg-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-archive fa-fw"></i> Payload (@app.service.getPayloads.size)
                  <a href='@routes.Application.upload' role="button"
	      	     class="btn btn-primary btn-xs pull-right">Add</a>
                </div> <!-- /.panel-heading -->
                <div class="panel-body">
		      @defining(app.service.getPayloads) { payload =>
		      <table class="table table-striped">
		        <thead>
		          <tr>
		            <th></th>
		            <th>Name</th>
		            <th>File <i class="fa fa-download"></i></th>
			    <th>Date</th>
		       	  </tr>
		        </thead>
		        <tbody>
                     	@for(p <- payload.subList(0,Math.min(5,payload.size))) {
 		           <tr>
			     <td><i class="fa fa-@if(p.shared){unlock}else{lock}"></i></td>
			     <td><a href='@{routes.Application.getPayload(p.sha1())}' title='View payload details'>@p.title</td>
			     <td><a href='@{routes.Api.download(p.sha1())}' title='Download payload'>@p.filename</a></td>
			     <td>@{new java.util.Date(p.timestamp)}</td>
			   </tr>
			}
		        </tbody>
	              </table>
		      @if(payload.size > 5) {
		         <a href='@routes.Application.payload'>See all...</a>
		      }
		      }
                </div>  <!-- /.panel-body -->
              </div> <!-- panel -->
	    </div> <!-- col -->
	  </div> <!-- row -->
}

<script type="text/javascript" src='@routes.Assets.versioned("javascripts/dashboard.js")'></script>
<script>

$(document).ready(function () {
   loadMetricsPlots ('@routes.Api.getMetrics(null)');
   loadDataSourcePlot ('@routes.Api.getDataSources()', 'stitched-sources-plot');
});
</script>