
@(title: String)(body: Html)(scripts: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel='stylesheet' href='@routes.Assets.versioned("lib/font-awesome/css/font-awesome.min.css")'>
    <link rel='stylesheet' href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")'>
  </head>
  <body>
    @body
  </body>
  
  <head>
    <script type='text/javascript' src='@routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>    
    <script type='text/javascript' src='@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")'></script>
  </head>
</html>

<script>
  @scripts
</script>
