@import ncats.stitcher.Stitch
@import ncats.stitcher.Props

@(version: Int, q: String, pages: Array[Int],
page: Int, rows: Int, total: Int, stitches: Array[Stitch])

@display(pos: Int) = {
@defining(stitches(pos)){ s =>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href='@app.routes.App.stitch(version,""+s.getId)'>@s.name</a> (@s.size)</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-4">
      <img class="img-responsive" src='@api.routes.Api.structure(s.getId,"svg",150)'>
    </div>
    <div class="col-md-8">
    @for((k,v) <- s.datasources){
      <a href="#"><span class="badge">@v</span> @k</a>
    }
    </div>
    <div class="col-md-8" style="max-height:100px;overflow-y:auto;">
      @for(e <- s.members){
	<img alt='@e.get("name")' src='@api.routes.Api.structure(e.get("id").asInstanceOf[Long],"svg",80)'>
      }
    </div>
  </div>
</div>
}
}

@main("Stitches"){
<div class="container-fluid">
  <div class="page-header">
    @if(q != null){
      <h1>Query: <code>@q</code></h1>
    }
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      @if(total > 0) {
        @pagination(version, q, page, rows, total, pages)
      }
      <div class="panel panel-default"
	   style="border:0; box-shadow:none;">
	@for(i <- 0 until stitches.length) {
	  @display(i)
        }
      </div>
      @if(total > 0) {
        @pagination(version, q, page, rows, total, pages)
      }
    </div>
  </div>
</div>
}(HtmlFormat.empty)
