@import ncats.stitcher.Stitch
@import ncats.stitcher.Entity
@import java.lang.reflect.Array

@(app: controllers.app.App, version: Int, stitch: Stitch)

@name(e:Map[String,Object],max: Int = 30) = {
  @defining(e.get("name").asInstanceOf[String]) { n =>
    @if(n.length > max) {
     <span data-trigger="hover" data-toggle="tooltip" title="@n">@n.substring(0,max)...</span>
     } else {
     @n
    }
  }
}

@displaypre(v: Object) = {
   @if(v.getClass.isArray) {
   <pre>@Array.get(v,0)@for(i <- 1 until Array.getLength(v)) {
@Array.get(v,i)}</pre>
   } else {
     <pre>@v</pre>
   }
}

@thumbnail(e: Map[String,Object]) = {
<div class="col-xs-6 col-md-4">
  <div class="thumbnail">
    <img src='@api.routes.Api.structure(e.get("id").asInstanceOf[Long],"svg",150)' alt='Structure for @e.get("srcid")'>
    <div class="caption">
      <p><a href='#stitch-modal-@e.get("id")' data-toggle="modal">@e.get("srcid")</a>
	@if(e.get("srcid") != null) {
	  <p>@name(e)
	} else {
          <p><a href='#stitch-modal-@e.get("id")' data-toggle="modal">@name(e)</a>
	}
      <p><code>@e.get("datasource")</code>
    </div>
  </div>
</div>
}

@stitchmodal(e: Map[String,Object]) = {
<div class="modal fade" id='stitch-modal-@e.get("id")'
     tabindex="-1" role="dialog" aria-labelledby='stitch-modal-label-@e.get("id")'
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id='stitch-modal-label-@e.get("id")'><em>@e.get("name")</em><span class="pull-right"><code>@e.get("datasource")</code></span></h4>
      </div>
      <div class="modal-body">
	<div class="row">
	  <div class="col-md-4">
	    <img src='@api.routes.Api.structure(e.get("id").asInstanceOf[Long],"svg",250)' alt='Structure of @e.get("name")'>
	    <p><code>@e.get("srcid")</code>
	  </div>
	  <div class="col-md-8">
	    <div>
	      <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
		  <a href='#tab-props-@e.get("id")' aria-controls="props"
		     role="tab" data-toggle="tab">Properties</a></li>
		<li role="presentation">
		  <a href='#tab-stitches-@e.get("id")' aria-controls="stitches"
		     role="tab" data-toggle="tab">Stitches</a></li>
	      </ul>
	      <div class="tab-content">
		<div role="tabpanel" class="tab-pane active"
		     id='tab-props-@e.get("id")'>
		  <div class="table-responsive">
		    <table class="table table-condensed">
		    @for((k,v) <- e.get("properties").asInstanceOf[Map[String,Object]]) {
		    <tr>
	              <td>@k</td>
		    @k match {
		      case "created" => {
		        <td>@{new java.util.Date(v.asInstanceOf[Long])}</td>
		      }
		      case _ => {
		        <td>@displaypre(v)</td>
	              }
		    }
	            </tr>
		    }
		    </table>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane"
		     id='tab-stitches-@e.get("id")'>
		  <div class="table-responsive">
		    <table class="table table-condensed">
		    @for((k,v) <- e.get("stitches").asInstanceOf[Map[String,Object]]) {
		    <tr>
		      <td>@k</td>
		      <td>@displaypre(v)</td>
	            </tr>
		    }
		    </table>
		  </div>		     
		</div>
	      </div>
	    </div>
	  </div> <!-- col-md-8 -->
	</div> <!-- row -->
      </div> <!-- modal-body -->
    </div>
  </div>
</div>
}

@main(stitch.name){
<div class="container-fluid">
  <div class="page-header">
    <h1>@stitch.name</h1>
    @for((k,v) <- stitch.datasources){
     <code><span class="badge">@v</span> @k</code>
    }
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
	<div class="panel-body">
	  <img class="img-responsive" src='@api.routes.Api.structure(stitch.getId,"svg",300)'>	  
	</div>
	<div class="panel-footer">
	  <code>@stitch.source</code>
	</div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row" style="max-height:600px;overflow-y:auto;">
	@for(e <- stitch.members) {
	  @thumbnail(e.asInstanceOf[Map[String,Object]])
	}
      </div>
    </div>
  </div>
</div>

@for(e <- stitch.members) {
   @stitchmodal(e.asInstanceOf[Map[String,Object]])
}
}{
$(document).ready(function () {	  
    $('[data-toggle="popover"]').popover();
    $('[data-toggle="tooltip"]').tooltip();
    var target = window.location.hash;
    if (target.startsWith('#stitch-modal')) {
	$(target).modal('show');
    }
});
}
