
@(app: controllers.app.App)

@shell(app){
 <div class="row">
   <div class="col-lg-12">
     <h1 class="page-header">Add Payload</h1>
       @defining(flash().remove("error")) { error =>
	   @if(error != null) {
	     <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      	 <p><code>@error</code>
	     </div>
	   }
	}
   </div>
 </div>
 <!-- /.col-lg-12 -->
 <div class="row">
   <div class="col-lg-8">
      <div class="panel panel-default">
      	 <div class="panel-body">
	   <form role="" method="POST"
		    action="@controllers.app.routes.App.upload"
		    enctype="multipart/form-data"
		    id="upload-form">
		<div class="form-group">
		  <label for="file">Name (required)</label>
                  <input class="form-control" type="text"
			 id="title" name="title" required>
		</div>
		<div class="form-group">
		  <label for="file">File</label>
                  <input class="form-control" type="file" id="file" name="file">
		</div>
		<div class="form-group">
		  <label for="uri">Source URI</label>
                  <input class="form-control" type="text" id="uri" name="uri">
		</div>
		<div class="form-group">
		   <label for="format">Format</label>		
		   <select name="format" id="format" class="form-control"
		   	   onchange="onSelection(this)">
		      <option value="CSV">CSV (Comma-delimited)</option>
		      <option value="TSV">TSV (Tab-delimited)</option>
		      <option value="TXT">Text</option>
		      <option value="XLS">Excel</option>
		      <option value="MOL">Molecular format (e.g., .mol, .sdf, .smiles)</option>
		      <option value="Other">Other</option>
		   </select>
		</div>
		<div class="form-group">
		   <div class="input-group">
		      <div class="input-group-addon">Delimiter</div>
		      <input type="text" class="form-control" name="delimiter"
		      	     id="delimiter-field">
		   </div>
		</div>
		<div class="form-group">
		  <input type="checkbox" name="shared"> This payload is public accessible
		</div>
		<div class="form-group">
		  <label for="comments">Comment</label>
		  <textarea id="comments" class="form-control"
			    rows="5"
			    name="comments"
			    style="font-family: monospace"></textarea>
		</div>
		<div class="pull-right">
		     <p><a href='@controllers.app.routes.App.dashboard' class="btn btn-default" role="button">Cancel</a> <button type="submit" class="btn btn-primary">Load</button> 
		</div>
	     </form>
	  </div>
       </div>
    </div>
 </div>
}

<script>
$(document).ready(function () {
    var el = $('#delimiter-field');
    el.prop('disabled', el.value != 'TXT');
});

function onSelection(el) {
  console.log('selection changed..'+el.value);
  $('#delimiter-field').prop('disabled', el.value != 'TXT');
}
//$('#upload-form').validate();
</script>